@keyframes laser{
    100% {bottom: 1000px;
    }
    0% {bottom: 55px;}
    }
    
    #box{
        position: relative;
        background-color: blue;
        width: 700px;
        height: 100vh;
    }
    #nave{
        position: absolute;
        background: rgba(255, 0, 0, 0);
        width: 150px;
        height: 150px;
        bottom: 0px;
        left: 0px;
    }
    img{
        width: 100%;
        height: auto;
    }
    
    #fundo{
        width: 100%;
        height: 100vh;
    }
    #laserEsquerda{
        position: absolute;
        background: rgba(223, 215, 115);
        width: 2px;
        height: 50px;
        left: 30px;
        bottom: 80px;
        animation: laser;
        animation-duration: .5s;
        animation-iteration-count: infinite;
    }
    #laserDireita{
        position: absolute;
        width: 2px;
        height: 50px;
        right: 30px;
        bottom: 80px;
        animation: laser;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        background: rgb(223, 215, 115);
    }